<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" routerLink="/tabs/homeTab" aria-label="Go to demo home">
        <ion-icon aria-hidden="true"name="chatbubbles-sharp" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Messages
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="addChat()" aria-label="Add a new chat">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">
  


</ion-content>
